Capstone Step 2 - Data Ingestion/Dockerfile
Capstone Step 5/analytical.sh
Capstone Step 5/Pipeline_Orchestration.py
Capstone Step 5/data_ingestion.sh
Capstone Step 5/test_config.py
Capstone Step 5/config/ingestion_config.ini
Capstone Step 5/jars/azure-storage.jar
Capstone Step 5/jars/hadoop-azure.jar
Capstone Step 5/jars/postgresql-42.7.4.jar
